fieldset{
    width: 60%;
    display: table;
    margin: auto;
}
legend {
    text-align: center;
}
label {
    margin-left: 70px;
    font-family: 'Courier New', Courier, monospace;
}
input {
    font-size: 20px;
    margin: 20px;
    margin-left: 100px;
    outline: none;
}
textarea {
    margin-left: 100px;
    margin-top: 20px;
}
button {
    height: 40px;
    width: 120px;
    cursor: pointer;
    margin: 30px 90px;
    border-radius: 20px;
    background-color:rgb(243, 107, 107);
    border:none;
    outline: none;
    box-shadow: none;
    color:rgb(230, 226, 221)
}
button:hover {

    background-color: rgb(121, 111, 94);
}
#map {
    cursor: pointer;
}
#map img {
    margin-top: 52px;
}
#sendMessage a{
    color:rgb(230, 226, 221);
    text-decoration:none;

}
#sendMessage {
outline: none;
border:none;
}