article {
    height: 270px;
    width: 300px;
    background-color: azure;
    display: inline-block;
    margin:13px 0 0 11px ;
    border: 1px solid grey;
}
article h1 {
    text-align: center;
    padding-top: 5px;
}
article p {
    text-align: center;
    padding-top: 10px;
}

article:hover {
    border: 1px solid black;
}