article {
    height: 270px;
    width: 300px;
    background-color: azure;
    display: inline-block;
    margin:13px 0 0 11px ;
    border: 1px solid grey;


}
article h1 {
    text-align: center;
    padding-top: 5px;
	text-decoration:underline;
}
article p {
    text-align: center;
    padding-top: 10px;
}

article:hover {
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 10px 10px 5px #aaaaaa;
   
}
#categories{
    display: table;
    margin:auto;
    font-size:20px;


}
#categories input{
    margin:10px;
}
.wrapper{
	text-align:center;
	
}

.wrapper h2{
	margin-top:10px;
	margin-bottom:2px;
	font-family:Catamaran;
	font-size:40px;
	font-weight:200;

	color:#111;
	text-transform:uppercase;
}

.gallery-container{
		display:inline-block;
		width: 960px;
			border:1px solid black;
			margin:10px;

}
.foto{
		
		display: inline-block;
  width: 260px;
  height: 260px;

  margin-bottom:100px;
 border:solid black 2px;
 margin-right:40px;


}
.gallery-container a div{
	width:100%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.gallery-container a {
	text-decoration:none;
}
.gallery-container a h3{
	font-family:Catamaran;
	text-decoration:none;
	font-size:20px;
	font-weight:150;
	margin-top:8px;
	color:#111;
	text-transform:uppercase;
}
.gallery-container a p{
	font-family:Catamaran;
	text-decoration:none;
	font-size:15px;
	font-weight:100;
	color:#111;
    padding-bottom:20px;}

.gallery-upload{
	width: 930px;
margin:10px;

}
	

input[type=text] {
  border-radius: 4px;
  width: 850px;
  border:solid black 1px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
