* {
    margin: 0;
}
body {
    background-color: #E9E9E1;
}

#logoArea {
    width: 960px;
    margin: auto;
    height: 50px;
    margin-bottom: 20px;
    padding-top: 30px;
    color: rgb(107, 107, 107);
    display: table;
}

#logo {
    height: 100px;
    width: 300px;
}
#logoArea a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(107, 107, 107);
    width: 47px;
}

#logoArea a:hover {
    color: rgb(14, 13, 13);
    cursor: pointer;
}

#moreOptions {
    margin-left: 4%;
    float: right;
    margin-top: 12%;
}

#searchBar form {
    background-color: #333;
    border-radius: 100px;
    width: 70%;
    float: right;
}
#searchBar input {
    border-radius: 100px;
    background-color: #333;
    border: none;
    height: 25px;
    margin: 0 20px;
    width: 60%;
}
#searchBar input:focus {
    outline: none;
    color: white;
    
}

.fa-search{
    margin-right: 8px;
    margin-top: 3px;
    background-color: white;
    border-radius: 100px;
    padding:3px;
}
/*Navbar or main menu */

.mainMenu {
    width: 960px;
    margin: auto;
    overflow: hidden ;
    background-image: linear-gradient(rgb(34, 34, 34), rgb(71, 71, 70));
    margin-top: 10px;
    border-radius: 6px;
  }

/*Main menu options (links)*/

  .mainMenu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-size: 16px;
    font-family: serif;
    margin: 0;
    width: 120px;
    

  
  }

  .mainMenu a:hover {
    color: grey;
  }

.active {
    background-color: #333;
}