* {
    margin: 0;
}
body {
    background-color: #E9E9E1;
}
.container{
    height: 990px;
    width: 960px;
    border: 1px solid rgb(185, 167, 151);
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
}